* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    background-color: rgb(165, 154, 154);
}

.auth-container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.auth-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
} 
.auth-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #48494a;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0e1012;
}


